<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/seats.css">
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/static/css/form.css">
    <script src="/static/js/script.js"></script>
    <script src="/static/js/clock.js"></script>
    <script src="https://kit.fontawesome.com/3e8894a35f.js" crossorigin="anonymous"></script>
    <title>YAZAMOON</title>
  </head>
  <body>
    {% include "header.html" %}
    <div id="contents" class="contents">
      <div class="datetime">
        <h2 id="date"></h2>
        <h1 id="clock"></h1>
      </div>
      <div id="seats" class="seat">
        <div class="colum">
          <ul>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
          </ul>
          <ul>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
          </ul>
        </div>
        <div class="colum">
          <ul>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
          </ul>
          <ul>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
          </ul>
        </div>
        <div class="colum">
          <ul>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
          </ul>
          <ul>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
            <li><img src="/static/img/student/student-check.png"></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>