<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/seats.css">
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/static/css/form.css">
    <script src="/static/js/script.js"></script>
    <script src="/static/js/clock.js"></script>
    <script src="https://kit.fontawesome.com/3e8894a35f.js" crossorigin="anonymous"></script>
    <title>YAZAMOON</title>
  </head>
  <body>
    {% if not have_seat %}
      <script>
          alert("지정된 좌석이 없습니다. 빈 좌석을 선택하여 주세요.");
      </script>
    {% endif %}

    {% include "header.html" %}
    <div id="contents" class="contents">
      <div class="contents-header">
        <div class="datetime">
          <p id="date" class="date"></p>
          <p id="clock" class="clock"></p>
        </div>
      </div>
      <div id="seats" class="seats">
        {% for line in seats %}
          <div class="line">
            {% for seat in line %}
              <div class="seat">
                {% if seat == None %}
                  <img src="/static/img/student/student-miss.png" alt="miss"/>
                  {% if not have_seat %}
                    <form method="post">
                      <input type="hidden" name="position"
                             value="{{ forloop.counter }},{{ forloop.parentloop.counter }}">
                      <button class="select">선택하기</button>
                    </form>
                  {% endif %}
                {% else %}
                  <img src="/static/img/student/student-{{ seat.status }}.png" alt="{{ seat.status }}"/>
                  <p>{{ seat.student.name }}</p>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      {% if have_seat %}
        {% if user.is_admin %}
          <form class="check" action="/admin" method="get">
            <button>출석관리</button>
          </form>
        {% else %}
          <form class="check" action="/attend" method="post">
            <button>출석하기</button>
          </form>
        {% endif %}
        </div>
      {% endif %}
    {% include "footer.html" %}
  </body>
</html>