<!DOCTYPEHTML>
<html>
    <head>
        <link rel="stylesheet" href="./css/admin_notice.css">
        <link rel="stylesheet" href="./css/admins.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    <body>
        <header >
            <!-- Brand and toggle get grouped for better mobile display -->
            <nav class="navbar navbar-default naav">
                <div id="titlename">
                    <p><a href="./admin_main.html"><img src="./img/logo.png" height="40px"></a>
                     - Admin Page </p>
                </div>
                    <div class="container-fluid">
                        <div class="navbar-header a">
                            <ul class="nav nav-pills nav-justified" >
                                <li role="presentation" ><a href="ㅁttendance.html">출석 관리</a></li>
                                <li class="ntab" ></li>
                                <li role="presentation"  ><a href="./admin_manage.html">학생 관리</a></li>
                                <li class="ntab" ></li>
                                <li role="presentation" ><a href="./admin_feedback.html">피드백</a></li>
                                <li class="ntab"></li>
                                <li role="presentation"class="active"><a href="./admin_notice.html">공지 사항</a></li>
                                <li class="ntab"></li>
                                <li role="presentation"><a href="./admin_schedule.html">시간표</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="cars">
                <div class="well well-lg cont" >
                    <div class="TB">
                        <input type="text" class="card_title" placeholder="제목">
                        <textarea placeholder="내용" rows="9" cols="70" class="card_text"></textarea>
                    </div>
                    <div class="TC">
                     <button class="addbtn"><img width="20rem" height="20rem" src="./img/addbtn.png"></button>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>