<!DOCTYPEHTML>
<html>
    <head>
        <link rel="stylesheet" href="./css/admin_attendance.css">
        <link rel="stylesheet" href="./css/admins.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    <body>
        <header >
            <!-- Brand and toggle get grouped for better mobile display -->
            <nav class="navbar navbar-default naav">
                <div id="titlename">
                        <p><a href="./admin_main.html"><img src="./img/logo.png" height="40px"></a>
                         - Admin Page </p>
                </div>
                    <div class="container-fluid">
                        <div class="navbar-header a">
                            <ul class="nav nav-pills nav-justified" >
                                 <li role="presentation" class="active" ><a href="/admin_attendance.html">출석 관리</a></li>
                                <li class="ntab" ></li>
                                <li role="presentation" ><a href="./admin_manage.html">학생 관리</a></li>
                                <li class="ntab" ></li>
                                <li role="presentation" ><a href="./admin_feedback.html">피드백</a></li>
                                <li class="ntab"></li>
                                <li role="presentation"><a href="./admin_notice.html">공지 사항</a></li>
                                <li class="ntab"></li>
                                <li role="presentation"><a href="./admin_schedule.html">시간표</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="well well-lg cont" >
                <table class="conta">
                    <tr class="tab">
                        <td class="no">학번</td>
                        <td class="name">학생 이름</td>
                        <td class="code">상태</td>
                    </tr>
                    <tr class="tab">
                        <td class="no">학번</td>
                        <td class="name">학생 이름</td>
                        <td class="code">상태</td>
                    </tr>
                </table>
            </div>
        </main>
    </body>
</html>