#item-1 {
    width: 100%;
    height: 100vh;
    background: url("/static/img/background/item-1.jpg") fixed center;
    background-size: cover;
    padding-top: 55px;
    box-sizing: border-box;
}

#item-1 .description {
    color: white;
    margin-top: 10%;
    margin-left: 10%;
}

#item-1 .description .logo {
    width: 450px;
    margin: 20px 0;
}

#item-1 .description .title {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: -2px;
    margin: 20px 0;
}

#item-1 .description .contents p {
    margin: 2px 0;
    font-size: 1.15em;
    font-weight: lighter;
}

#item-1 .description .using {
    background: none;
    color: white;
    padding: 12px 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    margin-top: 24px;
    transition: 0.3s ease;
    cursor: pointer;
}

#item-1 .description .using:hover {
    color: black;
    background-color: white;
}

#item-1 .description .using:focus {
    outline: none;
}

#item-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 200px;
}

#item-2 .developer {
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
}

#item-2 .developer .cover {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#item-2 .developer .cover:hover {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
}

#item-2 .developer .text {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#item-2 .hwangseonu {
    background: url("https://avatars1.githubusercontent.com/u/30190259?s=460&v=4");
    background-size: contain;
}

#item-2 .jara {
    background: url("https://scontent-gmp1-1.xx.fbcdn.net/v/t1.0-9/130814592_1836437656514036_8405568114610262153_o.png?_nc_cat=101&ccb=2&_nc_sid=09cbfe&_nc_ohc=Z-Q1oVzNwsoAX_362h3&_nc_ht=scontent-gmp1-1.xx&oh=def75b5dbadb0f1ebe808b2cd2f68579&oe=60004608");
    background-size: contain;
}

#item-2 .luna {
    background: url("https://scontent-gmp1-1.xx.fbcdn.net/v/t1.0-9/55959603_2272841909638387_6862002633876439040_n.png?_nc_cat=108&ccb=2&_nc_sid=09cbfe&_nc_ohc=i5vMaxK8w3oAX-tGojV&_nc_ht=scontent-gmp1-1.xx&oh=4c5e3849938f569d3da56eac4d6a5c15&oe=60031956");
    background-size: contain;
}

#item-3 {
    width: 100%;
    height: calc(100vh - 200px);
    padding: 55px;
    box-sizing: border-box;
    background: url("/static/img/background/item-3.jpg") fixed center;
    background-size: cover;
    text-align: center;
}

#item-3 .title {
    color: white;
    font-size: 3em;
}

#item-3 .table {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#item-3 .table .row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#item-3 .table .row:nth-child(1) {
    margin-bottom: 55px;
}

#item-3 .table .row .item {
    width: 200px;
}

#item-3 .table .row .item img {
    width: 90px;
    height: 90px;
}

#item-3 .table .row .item p {
    color: white;
    font-size: 1em;
}