#contents {
    margin-top: 55px;
}

#item-1 {
    width: 100%;
    height: calc(100vh - 55px);
    background: url("/static/img/background/item-1.jpg") fixed center;
    background-size: cover;
    box-sizing: border-box;

}

#item-1 .description {
    color: white;
    padding-top: 10%;
    padding-left: 10%;
}

#item-1 .description .logo {
    width: 450px;
    margin: 20px 0;
}

#item-1 .description .title {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: -2px;
    margin: 20px 0;
}

#item-1 .description .contents p {
    margin: 2px 0;
    font-size: 1.15em;
    font-weight: lighter;
}

#item-1 .description .using {
    background: none;
    color: white;
    padding: 12px 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    margin-top: 24px;
    transition: 0.3s ease;
    cursor: pointer;
}

#item-1 .description .using:hover {
    color: black;
    background-color: white;
}

#item-1 .description .using:focus {
    outline: none;
}

#item-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 200px;
}

#item-2 .developer {
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
}

#item-2 .developer .cover {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#item-2 .developer .cover:hover {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
}

#item-2 .developer .text {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#item-2 .hwangseonu {
    background: url("/static/img/logo/hwangseonu.png");
    background-size: contain;
}

#item-2 .jara {
    background: url("/static/img/logo/jara.png");
    background-size: contain;
}

#item-2 .luna {
    background: url("/static/img/logo/luna.png");
    background-size: contain;
}

#item-3 {
    width: 100%;
    height: calc(100vh - 200px);
    padding: 55px;
    box-sizing: border-box;
    background: url("/static/img/background/item-3.jpg") fixed center;
    background-size: cover;
    text-align: center;
}

#item-3 .title {
    color: white;
    font-size: 3em;
}

#item-3 .table {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#item-3 .table .row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#item-3 .table .row:nth-child(1) {
    margin-bottom: 55px;
}

#item-3 .table .row .item {
    width: 200px;
}

#item-3 .table .row .item img {
    width: 90px;
    height: 90px;
}

#item-3 .table .row .item p {
    color: white;
    font-size: 1em;
}