{{set . "title" "YAZAMOON"}}
{{append . "moreStyles" "css/main-style3.css"}}
{{append . "moreScripts" "js/main.js"}}
{{template "header.html" .}}

<div id="top" class="header">
      <span class="logo">
        <a href="#">
          <img src="/public/img/logo(4)-white.png">
        </a>
      </span>
  <div class="box">
    <a class="logout" href="{{url "App.Logout"}}">Log out</a>
  </div>
</div>
<div class="navbar">
  <ul>
    <a href="{{url "App.Main"}}"><li>Home</li></a>
    <a href="{{url "App.Apply"}}"><li>야자신청</li></a>
    <a href="{{url "App.ApplyOut"}}"><li>외출신청</li></a>
    <a class="focus" href="{{url "App.TimeTable"}}"><li>시간표</li></a>
    <a href="{{url "App.Notice"}}"><li>공지사항</li></a>
    <a href="{{url "App.Feedback"}}"><li>건의하기</li></a>
  </ul>
</div>
<div class="contents">
  <div class="contents">
    <div class="box">
      <h1 class="title">시간표</h1>
      <img src="/public/img/time-table.png">
    </div>
  </div>
</div>

{{template "footer.html" .}}