<!DOCTYPE>
<html lang="ko">
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css">
    <script src="https://kit.fontawesome.com/3e8894a35f.js" crossorigin="anonymous"></script>
    <title>YAZAMOON</title>
  </head>
  <body>
    <div id="header">
      <div class="blank"></div>
      <a href="/" class="logo">
        <img src="/static/img/logo/logo-black.png" alt="logo-black">
      </a>
      <div class="user-menu">
        <span>Sign up</span>
        <span>Sign in</span>
      </div>
    </div>
    <div id="item-1">
      <div class="description">
        <img src="/static/img/logo/logo-text-white.png" alt="logo-text" class="logo">
        <h1 class="title">고요한 세상으로 들어가는 문, YAZAMOON</h1>
        <div class="contents">
          <p>학생들의 원활한 야자를 위해 만들어진 야간자습도우미 시스템 YAZAMOON입니다.</p>
          <p>수험생 및 학생들이 자율학습시간에 집중하여 공부할 수 있도록</p>
          <p>여러 불편한 사항 및, 복잡한 사항들을 개선하고자 합니다</p>
          <p>YAZAMOON은 여러분의 학업을 응원합니다.</p>
        </div>
        <button class="login">이용하기</button>
      </div>
    </div>
    <div id="item-2">
      <div class="developer hwangseonu">
        <a href="https://github.com/hwangseonu" target="_blank">
          <div class="cover">
            <div class="text">
              <h1>황선우</h1>
              <p>개발</p>
            </div>
          </div>
        </a>
      </div>
      <div class="developer jara">
        <a href="https://www.facebook.com/JARAinDimigo" target="_blank">
          <div class="cover">
            <div class="text">
              <h1>JARA</h1>
              <p>디자인</p>
            </div>
          </div>
        </a>
      </div>
      <div class="developer luna">
        <a href="https://www.facebook.com/lunacoding" target="_blank">
          <div class="cover">
            <div class="text">
              <h1>LUNA</h1>
              <p>개발</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div id="item-3">
      <h1 class="title">Our Service</h1>
      <div class="table">
        <div class="row">
          <div class="item">
            <img src="/static/img/service/service-icon1.png" alt="icon">
            <p>간편한 학생관리</p>
          </div>
          <div class="item">
            <img src="/static/img/service/service-icon2.png" alt="icon">
            <p>출석관리 시스템</p>
          </div>
          <div class="item">
            <img src="/static/img/service/service-icon3.png" alt="icon">
            <p>외출관리 시스템</p>
          </div>
          <div class="item">
            <img src="/static/img/service/service-icon4.png" alt="icon">
            <p>야자신청 시스템</p>
          </div>
        </div>
        <div class="row">
          <div class="item">
            <img src="/static/img/service/service-icon5.png" alt="icon">
            <p>건의사항 수렴 및 개선</p>
          </div>
          <div class="item">
            <img src="/static/img/service/service-icon6.png" alt="icon">
            <p>자습시작/종료 알림</p>
          </div>
          <div class="item">
            <img src="/static/img/service/service-icon7.png" alt="icon">
            <p>지속적인 업데이트</p>
          </div>
          <div class="item">
            <img src="/static/img/service/service-icon8.png" alt="icon">
            <p>일일 시간표</p>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="copyright">
        <img src="/static/img/logo/logo.jpg" alt="logo">
        <span>&copy; 2020 Yazamoon</span>
      </div>
      <div class="links">
        <a href="https://github.com/hwangseonu/Yazamoon" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100022921478671" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
      </div>
    </div>
  </body>
</html>