<div class="contents-box">
  <div class="contents">
    <div class="box">
      <h1 class="title">학교설명회 일정 안내</h1>
      <p>안녕하세요!</p>
      <p>2019학년도 입학을 위한 학교설명회 일정 안내드립니다.</p>
      <p>1차 : 2018년 6월 9일(토) 오후 2시, 본교 체육관</p>
      <p>인터넷 사전 신청시작 : 5월 11일(금) 오후부터 학교홈페이지에서(예정)</p>
      <p>2차 : 2018년 10월 6일(토) 오후 2시, 본교 체육관</p>
      <p>인터넷 사전 신청시작 : 9월 3일(월) 오후부터 학교 홈페이지에서(예정)</p>
    </div>
  </div>
  <div class="contents">
    <div class="box">
      <h1 class="title">학교설명회 일정 안내</h1>
      <p>안녕하세요!</p>
      <p>2019학년도 입학을 위한 학교설명회 일정 안내드립니다.</p>
      <p>1차 : 2018년 6월 9일(토) 오후 2시, 본교 체육관</p>
      <p>인터넷 사전 신청시작 : 5월 11일(금) 오후부터 학교홈페이지에서(예정)</p>
      <p>2차 : 2018년 10월 6일(토) 오후 2시, 본교 체육관</p>
      <p>인터넷 사전 신청시작 : 9월 3일(월) 오후부터 학교 홈페이지에서(예정)</p>
    </div>
  </div>
  <div class="contents">
    <div class="box">
      <h1 class="title">학교설명회 일정 안내</h1>
      <p>안녕하세요!</p>
      <p>2019학년도 입학을 위한 학교설명회 일정 안내드립니다.</p>
      <p>1차 : 2018년 6월 9일(토) 오후 2시, 본교 체육관</p>
      <p>인터넷 사전 신청시작 : 5월 11일(금) 오후부터 학교홈페이지에서(예정)</p>
      <p>2차 : 2018년 10월 6일(토) 오후 2시, 본교 체육관</p>
      <p>인터넷 사전 신청시작 : 9월 3일(월) 오후부터 학교 홈페이지에서(예정)</p>
    </div>
  </div>
</div>