.class{
    text-align: center;
}
.naav{
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px;
    padding-bottom: 7px;
    display: fixed;
}
main{
    margin-left: 10px;
    margin-right: 10px;
}
.addbtn{
    background-color : #000000;
    border : #ffffff00 solid;
    height : 5rem;
    width : 5rem;
    border-radius : 8px;

}
.cont{
    display:flex;
    flex-direction: row;
}
.TB{
    width: 90%;
    display:flex;
    flex-direction: row;
}
.TC{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_title{
    margin : 7px;
    padding : 8px;
} 
.card_text{
    margin : 7px;
    justify-content: flex-start;
    padding : 10px;
}