.cars{
    width: 90%;
    height: 100vh;
    margin: 10px;
    display:flex;
    flex-direction: row;
    border: 1px solid;
}
.car{
    width : 20rem;
    height: 20rem;
    border: 1px solid;
    margin: 2%;
    box-shadow: 10px 10px 10px 20grey;
}
main{
    text-align : center;
}